body {
    background-image: linear-gradient(140deg, rgb(255, 162, 255), skyblue, rgb(255, 255, 78), rgb(141, 254, 141));
    font-family: sans-serif
}

.divH2 {
    margin-top: 55px;
}


.blockD {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.titless {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: whitesmoke;
    border-radius: 13px;
    border: 1px solid black;
}


.ABCD {
    display: flex;
    padding: 20px;
    margin-left: 16%;
    margin-right: 16%;
    background-color: whitesmoke;
    border-radius: 13px;
    margin-top: 55px;
    border: 1px solid black;
    transition: margin 0.5s ease;
    gap: 30px;
}


.ABC:hover {
    margin-right: 13%;
    transition: margin 0.5s ease;
}

.here {
    color: blue;
}

.HStext {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.boldText {
  font-weight: bold;
}


.Imgs {
    border-radius: 12px;
}